@media screen and (max-width:1500px) {
}

@media screen and (max-width:1400px) {
}

@media screen and (max-width:1199px) {
}

@media screen and (max-width:1200px) {
	.home-page-intro-laptop {
		width:100%;
	}
	.home-page-intro {
		height: 520px;
		margin-top: -80px;
		padding-top:130px;
	}
	.home-page-intro h1 {
		font-size:38px;
		padding-top:0px;
	}
	.yes-its-free p {
	    font-size: 18px;
	}
	
}

@media screen and (max-width:991px) {
	.navbar-brand {
		line-height: 20px;
    	font-size: 30px;
	}
	.home-page-intro-laptop {
		width:100%;
	}
}

@media screen and (max-width:992px) {
	.layout-text {
		text-align:center;
	}
	.btn-outline-light {
	    border: 1px solid #000;
	    color: #000;
	    width:100%;
	}
	.navbar-form .btn-outline-light {
		width:100%;
		padding-top:10px;
		padding-bottom:10px;
	}
	.navbar-form {
		padding:0px;
		line-height:0px;
		padding-left:10px;
	}
	nav.navbar.navbar-transparent.sticked ul.nav > li > a {
	    color: #000;
	}
	nav.navbar.navbar-transparent.sticked ul.nav > li > a:hover, nav.navbar.navbar-transparent.sticked ul.nav > li > a.active {
    	border: 0px;
	}
	nav.navbar ul.nav > li {
		padding:0px;
		margin:0px;
		padding-bottom:25px; 
	}
	nav.navbar.navbar-transparent ul.nav > li > a {
    	color: #000;
    	padding:0px;
    	border:0px;
	}
	nav.navbar.navbar-transparent.sticked .btn-outline-light {
	    color: #6f6f6f;
	    border: 1px solid #6f6f6f;
	}
	nav.navbar.bootsnav .navbar-nav > li > a {
		border:0px;
		color:#000;
		font-size:16px;
	}
	.navbar {
		padding-bottom:10px;
	}
	nav.navbar.bootsnav .navbar-nav > li > a {
		border:0px;
		color:#000;
	}
	.navbar-transparent {
		background: #fff !important;
	}
	nav.navbar-transparent .navbar-brand-text {
	    background: -webkit-linear-gradient(#13a264, #1364a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
	.navbar-brand {
		color:#000;
		line-height: 29px;
		font-size: 32px;
	}
	.home-page-intro-laptop {
		width:100%;
	}
	.home-page-intro {
		height: 900px;
		margin-top: -80px;
		padding-top:120px;
		text-align:center;
	}
}

@media only screen and (max-width:767px) {
	.navbar {
		padding-bottom:10px;
	}
	nav.navbar.bootsnav .navbar-nav > li > a {
		border:0px;
		color:#000;
	}
	.navbar-transparent {
		background: #fff !important;
	}
	nav.navbar-transparent .navbar-brand-text {
	    background: -webkit-linear-gradient(#13a264, #1364a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
	.navbar-brand {
		color:#000 !important;
		line-height: 29px;
		font-size: 32px;
	}
	.home-page-intro-laptop {
		width:100%;
	}
}

@media only screen and (max-width:768px) {
	
	.navbar {
		padding-bottom:10px;
	}
	.navbar-transparent {
		background: #fff !important;
	}
	nav.navbar-transparent .navbar-brand-text {
	    background: -webkit-linear-gradient(#13a264, #1364a2);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
	.navbar-brand {
		color:#000 !important;
		line-height: 29px;
		font-size: 32px;
	}
	.home-page-intro-laptop {
		width:100%;
	}
	.home-page-intro {
		height: 850px;
		margin-top: -80px;
		padding-top:120px;
		text-align:center;
	}
}

@media only screen and (max-width:580px) {
	.navbar {
		padding-bottom:10px;
	}
	.navbar-transparent {
		background: #fff !important;
	}
	nav.navbar-transparent .navbar-brand-text {
	    background: -webkit-linear-gradient(#13a264, #1364a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
	.navbar-brand {
		color:#000 !important;
		line-height: 29px;
		font-size: 32px;
	}
	.home-page-intro-laptop {
		width:100%;
	}
	.home-page-intro {
		height: 700px;
		margin-top: -80px;
		padding-top:100px; 
		text-align:center;
	}
	.home-page-intro h1 {
		font-size:30px;
		padding-top:0px;
	}
	.home-page-intro-see-how-we-do {
		margin-top:10px;
		display: inline-block;
	}
	.yes-its-free p {
	    font-size: 20px;
	}
	.yes-its-free {
		margin-top:20px;
		margin-bottom:20px;
	}
}


@media only screen and (max-width:350px) {
	.navbar {
		padding-bottom:10px;
	}
	.navbar-transparent {
		background: #fff !important;
	}
	nav.navbar-transparent .navbar-brand-text {
	    background: -webkit-linear-gradient(#13a264, #1364a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
	.navbar-brand {
		color:#000 !important;
		line-height: 29px;
		font-size: 26px;
	}
	.home-page-intro-laptop {
		width:100%;
	}
	
}