/*
**************
GENERAL
**************
*/
body {
	background: #F7F9FF;
}
h4 {
	font-size:20px;
}
h5 {
    font-size: 13px;
}
.text-17 {
	font-size:17px;
}
.text-bold {
	font-weight:bold;
}
.text-white-blue {
	color: #82b0b0;
}
.{
	background: -webkit-linear-gradient(#13a264, #1364a2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.white-bg {
	background:#fff;
}
.dropdown-menu {
	width: 247px;
	margin-top: 4px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa;
    font-weight: 700;
}

/*
**************
NAVBAR
**************
*/
.navbar {
    font-family: Comfortaa;
    box-shadow: none !important;
}
.navbar-form {
	line-height: 60px;
}
.navbar-form .btn-outline-light {
	width: 80px;
}
nav.navbar ul.nav > li > a {
	transition: .2s linear;
}
.navbar-brand {
	font-family: Comfortaa;
    font-size: 20px;
    line-height: 47px;
}
.navbar-brand-text {
	font-weight: bold;
}

nav.navbar-default .navbar-brand-text {


}

nav.navbar.bootsnav .navbar-toggle {
    background-color: #f2f2f2;
    font-size: 26px;
    top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #248f79;
}
.navbar-pills ul > .first-level-li  {
	background-color: #f8f8f8;
	border-bottom: 4px solid #ccc;
	margin-right: 10px;
	border-radius: 3px;
}
.navbar-pills ul > li > a {
	color:#000
}
.navbar-pills ul > li > a > i {
	font-size: 25px;
    top: 5px;
    position: relative;
}
/*
**************
NAVBAR TRANSPARENT
**************
*/
.navbar-transparent {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
}
nav.navbar.navbar-transparent ul.nav > li {
	padding-top: 25px;
	padding-right:35px;
}
nav.navbar.navbar-transparent ul.nav > li > a {
	color:#fff;
	padding:0px;
	padding-bottom:5px;
}
nav.navbar.navbar-transparent ul.nav > li > a:hover, nav.navbar.navbar-transparent ul.nav > li > a.active  {
	border-bottom: 3px solid #ffffff3d;
}
nav.navbar.navbar-transparent.sticked {
    background: #fff !important;
}
nav.navbar.navbar-transparent.sticked .btn-outline-light { 
	color:#6f6f6f;
	border:1px solid #6f6f6f;
}
nav.navbar.navbar-transparent.sticked ul.nav > li > a {
	color: #6f6f6f;
}
nav.navbar.navbar-transparent.sticked ul.nav > li > a:hover, nav.navbar.navbar-transparent.sticked ul.nav > li > a.active {
	border-bottom: 3px solid #f0f0f0;
}
.wrap-sticky nav.navbar.navbar-transparent.sticked .navbar-brand-text {
	background: -webkit-linear-gradient(#1364a2, #13a264);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav.navbar-transparent .navbar-brand-text {
	color:#fff;
}


/*
**************
TEXT LAYOUTS
**************
*/
.gray-layout {
    background: #F7F9FF;
}

.right-layout .text-container {
    margin-left: 30px;
}
.layout-text .text-container h3 {
    font-weight: 900;
    font-size: 31px;
}
.layout-text h4 {
    font-weight: 200;
    margin: 35px 0 0;
    font-size: 29px;
}
.layout-text h4 i {
font-size: 23px;
margin-right: 10px;
}
.layout-text .buttons {
    margin-top: 35px;
}

.layout-text .text-container {
    width: 500px;
}
.layout-text .img-absolute{
    position: absolute;
    top: -30PX;
    left: -50px;
    width: 110%;
   opacity: .13 !important;
    border: 0;
    z-index: -12;
}
.layout-text img.white-bg {
    padding: 10px;
}
.layout-text img {
    border-radius: 10px;
}
.layout-text .img-shadow {
    box-shadow: 0 0 50px rgba(53, 45, 97, 0.09);
    padding: 0;
}

.layout-text .buttons i {
    color: #ffffff;
}
.layout-text .buttons .btn {
    box-shadow: 0 8px 40px rgba(18, 9, 39, 0.13);
}
.layout-text .text-content {
    margin-top: 10px;
}

.layout-text p {
    font-size: 16px;
    line-height: 25px;
}

.layout-text .text {
    overflow: hidden;
}

.layout-text .text-content i {
    color: #14d468;
    margin: 5px 8px 0 0;
    font-size: 18px;
}

.why-must-use {
    background: #fff;
}

/*
**************
HOME PAGE INTRO
**************
*/
.home-page-intro {
	height: 700px;
	padding-top:100px;
    background: #fff;
}

.home-page-intro h1 {
	font-size: 44px;
	color: #212529;
	margin-bottom: 40px;
	padding-top:50px;
}

div.home-page-intro a.btn.btn-pink {
	padding: 15px;
	width: 250px;
	background: #f34d78 !important;
	color: #fff;
	text-transform: uppercase;
}

.home-page-intro-see-how-we-do {
	color: #212529;
	margin-left: 15px;
}

.yes-its-free {
	margin-top: 15px;
}

.yes-its-free p {
	color: #94989a;
	font-size: 22px;
}

.yes-its-free small {
	color: #94989a;
	font-size: 14px;
}

/*
**************
TESTIMONIALS
**************
*/
.testimonials {
	background:#fff;
    padding-top: 60px;
    padding-bottom: 60px;
}
#fade-quote-carousel blockquote {
    text-align: left;
    border: none;
    font-size: 14px;
    line-height: 23px;
    background: #F7F9FF;
    padding: 20px;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    color: #9aa6ca;
}
#fade-quote-carousel blockquote small {
    display: block;
    font-size: 90%;
    line-height: 1.42857143;
    color: #138f77;
}
#fade-quote-carousel blockquote .quote {
    color: #138f77;
    text-align: center;
    opacity: 0.5;
    padding-left: 5px;
}

#fade-quote-carousel .profile-circle img {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px auto;
    margin-bottom: -25px;
    box-shadow: 0 10px 20px rgba(73, 61, 94, 0.3);
    border-radius: 100%;
}

/*
**************
FEATURES
**************
*/
.features {
	margin-bottom:25px;	
}
.features i {
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 55px;
    width: 60px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    font-size: 23px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    margin-right:15px;
    margin-top: 13px;
    background:#3d7de0;
}
.features .text {
    overflow: hidden;
}

/*
**************
TABLES
**************
*/
.pricing-table {
	transition: .1s linear;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0 0 0 rgba(53, 45, 97, 0.059);
	border: 1px solid #f5f1ff;
	padding-left: 20px;
	padding-right:20px;
	padding-bottom: 20px;
	width: auto;
	text-align: center;
	border: 1px solid #138f77;
	margin-top:70px;
}
.pricing-table-header {
	background: #138F77;
	color: #fff;
	max-width: 270px;
	width: 200px;
	font-weight: 600;
	font-size: 18px;
	padding: 9px 10px 8px;
	letter-spacing: 1px;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: -42px;
	margin: 0 auto;
	margin-top: 0px;
	margin-top: -42px;
}
.pricing-table h4 {
    font-weight: 600;
    margin-top: 30px;
}
.pricing-table ul {
	padding:0px;
}
.pricing-table li {
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    display: flex;
}
.pricing-table i {
    color: #138f77;
    width: 10px;
    margin-right: 8px;
    font-size: 13px;
    margin-top: 4px;
}

/*
**************
BUTTONS
**************
*/
.btn {
	transition: 0.4s;
}
.btn-outline-light {
	border:1px solid #fff;	
	color:#fff;
}
.btn-outline-light.focus, .btn-outline-light:focus, .btn-outline-light:hover {
	color:#222;
	background:#fff;
}
.btn-outline-green {
	border:1px solid #138f77;	
	color:#138f77;
}
.btn-outline-green.focus, .btn-outline-green:focus, .btn-outline-green:hover {
	color:#fff;
	background:#138f77;
}
.btn-large {
	line-height:35px;
	min-width:22%;
}
.btn-radius {
	border-radius:80px;
}


/*
**************
PARTNERS IMAGES
**************
*/
.all-partners {
    margin: 0 auto
    display: table;
}
.all-partners .partner-logo {
	margin-top:25px;
}

/*
**************
PADDINGS
**************
*/
.padding-top10 {
    padding-top: 10px;
}
.padding-top20 {
    padding-top: 20px;
}
.padding-top30 {
    padding-top: 30px;
}
.padding-top40 {
    padding-top: 40px;
}
.padding-top50 {
    padding-top: 50px;
}
.padding-top60 {
    padding-top: 60px;
}
.padding-top70 {
    padding-top: 70px;
}
.padding-bottom30 {
    padding-bottom: 30px;
}
.padding-bottom40 {
    padding-bottom: 40px;
}
.padding-bottom50 {
    padding-bottom: 50px;
}
.padding-bottom60 {
    padding-bottom: 60px;
}
.padding-bottom70 {
    padding-top: 70px;
}
.padding-left30 {
	padding-left:30px;
}
.padding-left40 {
	padding-left:40px;
}
.padding-left70 {
	padding-left:70px;
}
/*
**************
FOOTER
**************
*/
footer {
	padding: 40px 0 20px;
}
footer a {
	color:#000;
    line-height: 30px;
}
footer a:focus, a:hover {
	color:#000;
}
footer h4 {
	font-weight: 600;
    margin-bottom: 20px;
}
footer h5 {
    color: #000;
}
footer ul {
	list-style: none;
	padding:0px;'
}
footer li::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;
}
footer .location-info i {
    padding-right: 3px;
}
footer .social-media a {
	border: 1px solid #000;
    border-radius: 3px;
    text-align:center;
    padding-top:10px;
    padding-bottom:7px;
    margin-right:5px;
    line-height: 44px;
}
footer .social-media i {
    font-size:18px;
    width:40px;
}
footer .footer-copyright {
	padding-top: 25px;
	border-top: 1px solid #000;
	margin-top: 15px;
}

/* 
**************
DARK FOOTER
**************
*/
.dark-footer {
	background:#222;
}
.dark-footer a {
	color:#fff;
}
.dark-footer a:focus, a:hover {
	color:#fff;
}
.dark-footer li::before {
     background: #000;
}
.dark-footer .social-media a {
	border-color: #ffffff0d;
}
.dark-footer .social-media a:hover {
	background:#ffffff0d;
}
.dark-footer h4 {
	color:#fff;
}
.dark-footer h5 {
	color:#fff;
}
.dark-footer .footer-copyright  {
	color:#fff;
	border-color: #ffffff0d;
}
	