/**
 * WHMCS Main Style Sheet
 *
 * Additional styles for WHMCS beyond Bootstrap
 *
 * This stylesheet contains all the customized styling used
 * by WHMCS.  Overrides to Bootstrap styles can be found in
 * overrides.css.
 *
 * @project   WHMCS
 * @cssdoc    version 1.0-pre
 * @package   WHMCS
 * @author    WHMCS Limited <development@whmcs.com>
 * @copyright Copyright (c) WHMCS Limited 2005-2018
 * @license   http://www.whmcs.com/license/
 * @link      http://www.whmcs.com/
 */

html,body {
    height: 100%;
}

body {
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    color: #058;
}

/**
 * -------------------------
 * @section Sections
 * -------------------------
 */

section#header {
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

section#header .logo img {
    margin: 0;
    padding: 0;
    max-height: 50px;
    vertical-align: middle;
}
section#header .logo-text {
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    font-size: 2.6em;
    white-space: nowrap;
}

section#header .search {
    margin: 20px 0;
}
section#header .search .form-control {
    border-color: #eee;
    box-shadow: none;
}
section#header .search .btn {
    background-color: #eee;
    border-color: #eee;
    color: #888;
}

section#main-body {
    margin: 0;
    padding: 20px 0;
    min-height: 350px;
    background-color: #fff;
}

section#main-content {
    margin-bottom: 60px;
}

.main-content {
    margin-bottom: 60px;
    min-height: 300px;
}

section#footer {
    margin: 0;
    padding: 20px 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 0.9em;
}
section#footer p {
    margin: 0;
}

@media (min-width: 450px) {
    section#footer {
        line-height: 32px;
    }
}

section#footer .back-to-top {
    float: right;
}
section#footer .back-to-top i {
    padding: 10px;
    background-color: #ddd;
    color: #888;
    border-radius: 3px;
    opacity: 0.7;
}

.adminreturndiv {
    display: none !important;
}

.alert-bordered-left {
    border: 0;
    border-left: 3px solid;
    border-radius: 0;
    text-align: left;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-md {
    font-size: 1.2em;
}

/**
 * -------------------------
 * @section Main Navbar
 * -------------------------
 */

.navbar-main > li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.navbar-main .navbar-toggle {
    border-color: transparent;
}
.navbar-main .navbar-toggle .icon-bar {
    background-color: #eee;
}
.navbar-main .navbar-toggle:focus,
.navbar-main .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-main .navbar-toggle:focus .icon-bar,
.navbar-main .navbar-toggle:hover .icon-bar {
    background-color: #bbb;
}

@media (max-width: 991px) {
    .navbar-main .navbar-nav>li>a {
        padding: 3px 20px;
    }

    .navbar-main .open .dropdown-menu .dropdown-header,
    .navbar-main .open .dropdown-menu>li>a {
        padding: 3px 25px;
    }
}

/**
 * -------------------------
 * @section General Styles
 * -------------------------
 */

div.header-lined h1 {
    margin-top: 0;
    margin-bottom: 15px;
    padding:6px 0;
    border-bottom:1px solid #ccc;
    font-weight: 400;
    color: #058;
}

div.header-lined .breadcrumb {
    margin-top: -15px;
    padding-left: 0;
    background: transparent;
    font-size: 0.8em;
    border-radius: 0 0 4px 4px;
}
div.header-lined .breadcrumb li a {
    color: #888;
}
div.header-lined .breadcrumb > .active {
    color: #0e5077;
}

div.header-lined small {
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 600px) {
    h1,.h1{font-size:26px}
    h2,.h2{font-size:20px}
    h3,.h3{font-size:16px}
    h4,.h4{font-size:14px}
    h5,.h5{font-size:12px}
    h6,.h6{font-size:11px}
    div.header-lined small {
        display: none;
    }
}

@media (min-width: 380px) {
    .btn-input-padded-responsive {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 500px) {
    .btn-input-padded-responsive {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.form-horizontal .checkbox-inline.no-padding,
.no-padding {
    padding: 0;
}

/**
 * -------------------------
 * @section Margin Classes
 * -------------------------
 */

.margin-10 {
    margin: 10px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}

.col-button-left {
    padding-left: 0;
    padding-right: 7px;
}
.col-button-right {
    padding-left: 7px;
    padding-right: 0;
}

/**
 * -------------------------
 * @section Form Classes
 * -------------------------
 */

.input-inline {
    display: inline-block;
}

.input-inline-100 {
    width: 100px;
}

.select-inline {
    display: inline-block;
    width: auto;
}

.form-group .field-error-msg {
    display: none;
    font-size: 0.85em;
    color: #cc0000;
}

/**
 * -------------------------
 * @section Responsive Pull Left & Right
 * -------------------------
 */

@media (min-width: 992px) {
    .pull-md-left {
        float: left;
    }
    .pull-md-right {
        float: right;
    }
}
@media (min-width: 768px) {
    .pull-sm-left {
        float: left;
    }
    .pull-sm-right {
        float: right;
    }
    .text-right-sm {
        text-align: right;
    }
}

/**
 * -------------------------
 * @section Login Page
 * -------------------------
 */

.logincontainer {
    margin: 40px auto 100px auto;
    padding: 0 10px;
    max-width: 500px;
}

.logincontainer.with-social {
    max-width: 650px;
}

.logincontainer .social-signin-btns {
    padding: 23px 0;
}

@media (max-width: 500px) {
    .logincontainer .social-signin-btns .btn {
        display: block;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .logincontainer {
        margin: 0 auto 30px auto;
    }
}

@media (min-width: 768px) {
    .logincontainer.with-social .login-form {
        padding-right: 29px;
        border-right: 1px solid #ddd;
    }
    .logincontainer .social-signin-btns .btn {
        display: block;
        width: 100%;
    }
}

/**
 * -------------------------
 * @section Icons
 * -------------------------
 */

i.icon-rss {
    color: #ff6600;
}

/**
 * -------------------------
 * @section Main Menu
 * -------------------------
 */

section#main-menu {
    background-color: #006687;
}

/**
 * -------------------------
 * @section Home Page Banner
 * -------------------------
 */

section#home-banner {
    margin: 0;
    padding: 50px 0 60px;
    background-color: #043d5f;
    color: #fff;
}

section#home-banner.with-recaptcha {
    padding-bottom: 90px;
}

section#home-banner .tooltip-inner {
    background-color: #00a3c6;
}

section#home-banner .tooltip.left .tooltip-arrow {
    border-left-color: #00a3c6;
}

section#home-banner .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00a3c6;
}

section#home-banner .tooltip.right .tooltip-arrow {
    border-right-color: #00a3c6;
}

section#home-banner h2 {
    margin: 0;
    padding: 0 25px 10px 25px;
}

section#home-banner .form-control {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    font-weight: 300;
}

section#home-banner .btn {
    border-radius: 0;
    border: 0;
    font-weight: 300;
    color: #fff;
}

section#home-banner .btn.search {
    background-color: #4ab98b;
}
section#home-banner .btn.transfer {
    background-color: #bbb;
}

@media (max-width: 992px) {
    section#home-banner h2 {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    section#home-banner h2 {
        font-size: 22px;
    }
}

/**
 * -------------------------
 * @section Home Page Shortcut Buttons
 * -------------------------
 */

.home-shortcuts {
  margin: 0;
  background: #25a2c7;
  color: #fff;
}
.home-shortcuts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-shortcuts li {
  float: left;
  width: 24%;
  padding: 5px 3px;
  border-right: 1px solid #0E88B0;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.home-shortcuts li:first-child {
  border-left: 1px solid #0E88B0;
}
.home-shortcuts li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.home-shortcuts li i {
  font-size: 22px;
}
.home-shortcuts li p {
  margin: 2px 0 0;
  text-transform: uppercase;
}
.home-shortcuts li span {
  display: none;
}
.home-shortcuts li:hover span {
  display: inline-block;
}
.home-shortcuts .lead {
  margin: 0;
  line-height: 55px;
}
@media (max-width: 992px) {
  .home-shortcuts ul {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .home-shortcuts li {
    display: block;
    float: none;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #0E88B0;
  }
  .home-shortcuts li:first-child {
    border-left: 0;
  }
  .home-shortcuts li:last-child {
    border: 0;
  }
  .home-shortcuts ul:hover li {
    width: 100%;
  }
}

/**
 * -------------------------
 * Client Homepage
 * -------------------------
 */

.text-domain {
    font-size: 12px;
    color: #006687;
}

.client-home-panels .panel > .panel-heading {
    background-color: #fff;
    border-bottom: 0;
    font-weight: bold;
}
.client-home-panels .panel > .panel-heading .panel-title .btn {
    color: #fff;
    border: 0;
}
.client-home-panels .panel > .panel-heading .panel-title .btn:hover {
    color: #000;
}
.client-home-panels .panel small {
    color: #888;
}
.client-home-panels .panel > .panel-body {
    padding: 0;
    max-height: 170px;
    overflow: auto;
}
.client-home-panels .panel > .panel-footer {
    border-top: 0;
}
.client-home-panels .panel > .panel-body p {
    padding: 10px 15px;
}
.client-home-panels .panel > .list-group {
    max-height: 170px;
    overflow: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.client-home-panels .panel > .list-group .list-group-item {
    padding: 4px 10px;
}

.client-home-panels .panel > .list-group .list-group-item:last-child {
    border-bottom: 0;
}

.home-kb-search {
    margin-bottom: 15px;
}
.home-kb-search .form-control {
    padding-left: 50px;
    background-color: #fff;
    border: 1px solid #eee;
    color: #999;
    font-weight: 300;
}
.home-kb-search .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.home-kb-search i {
    float: left;
    margin-top: -30px;
    margin-left: 20px;
    color: #777;
}

/**
 * -------------------------
 * Client Homepage Tiles
 * -------------------------
 */

.tiles {
    margin: 0 15px 15px 15px;
}
.tiles .tile {
    padding: 12px 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}
.tiles .tile a {
    text-decoration: none;
}
.tiles .tile:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.tiles .tile .highlight {
    margin-top: 4px;
    height: 2px;
    border-radius: 2px;
}
.tiles .tile:last-child {
    border: 0;
}
@media (max-width: 767px) {
    .tiles .tile:nth-child(2) {
        border: 0;
    }
    .tiles .tile:nth-child(1),
    .tiles .tile:nth-child(2) {
        border-bottom: 1px solid #ccc;
    }
}
.tile .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    line-height: 1;
    color: #ccc;
}
.tile .stat {
    margin-top: 20px;
    font-size: 40px;
    line-height: 1;
}
.tile .title {
    font-weight: bold;
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}

/**
 * -------------------------
 * Panel Accents
 * -------------------------
 */

.panel.panel-accent-gold {
    border-top: 3px solid #f0ad4e;
}
.panel.panel-accent-green {
    border-top: 3px solid #5cb85c;
}
.panel.panel-accent-red {
    border-top: 3px solid #d9534f;
}
.panel.panel-accent-blue {
    border-top: 3px solid #5bc0de;
}
.panel.panel-accent-orange {
    border-top: 3px solid #f39c12;
}
.panel.panel-accent-pink {
    border-top: 3px solid #e671b8;
}
.panel.panel-accent-purple {
    border-top: 3px solid #7b4f9d;
}
.panel.panel-accent-lime {
    border-top: 3px solid #8cbf26;
}
.panel.panel-accent-magenta {
    border-top: 3px solid #ff0097;
}
.panel.panel-accent-teal {
    border-top: 3px solid #00aba9;
}
.panel.panel-accent-turquoise {
    border-top: 3px solid #1abc9c;
}
.panel.panel-accent-emerald {
    border-top: 3px solid #2ecc71;
}
.panel.panel-accent-amethyst {
    border-top: 3px solid #9b59b6;
}
.panel.panel-accent-wet-asphalt {
    border-top: 3px solid #34495e;
}
.panel.panel-accent-midnight-blue {
    border-top: 3px solid #2c3e50;
}
.panel.panel-accent-sun-flower {
    border-top: 3px solid #f1c40f;
}
.panel.panel-accent-pomegranate {
    border-top: 3px solid #c0392b;
}
.panel.panel-accent-silver {
    border-top: 3px solid #bdc3c7;
}
.panel.panel-accent-asbestos {
    border-top: 3px solid #7f8c8d;
}

/**
 * -------------------------
 * Background Colors
 * -------------------------
 */

.bg-color-gold {
    background-color: #f0ad4e;
}
.bg-color-green {
    background-color: #5cb85c;
}
.bg-color-red {
    background-color: #d9534f;
}
.bg-color-blue {
    background-color: #5bc0de;
}
.bg-color-orange {
    background-color: #f39c12;
}
.bg-color-pink {
    background-color: #e671b8;
}
.bg-color-purple {
    background-color: #7b4f9d;
}
.bg-color-lime {
    background-color: #8cbf26;
}
.bg-color-magenta {
    background-color: #ff0097;
}
.bg-color-teal {
    background-color: #00aba9;
}
.bg-color-turquoise {
    background-color: #1abc9c;
}
.bg-color-emerald {
    background-color: #2ecc71;
}
.bg-color-amethyst {
    background-color: #9b59b6;
}
.bg-color-wet-asphalt {
    background-color: #34495e;
}
.bg-color-midnight-blue {
    background-color: #2c3e50;
}
.bg-color-sun-flower {
    background-color: #f1c40f;
}
.bg-color-pomegranate {
    background-color: #c0392b;
}
.bg-color-silver {
    background-color: #bdc3c7;
}
.bg-color-asbestos {
    background-color: #7f8c8d;
}

/**
 * -------------------------
 * @section Navigational Bar
 * -------------------------
 */

ul.top-nav {
    float: right;
    margin-top: 8px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    white-space: nowrap;
}
ul.top-nav > li,
ul.top-nav > li > a {
    display: inline-block;
    position: relative;
}
ul.top-nav > li > a {
    padding: 6px 10px;
    color: #777;
    line-height: 20px;
    text-decoration: none;
}
ul.top-nav > li:active > a,
ul.top-nav > li:focus > a,
ul.top-nav > li:hover > a,
ul.top-nav > li > a:focus {
    color: #333;
    text-decoration: none;
    background: transparent;
}
ul.top-nav > li.primary-action {
    padding-left: 15px;
    margin-left: 5px;
    border-left: solid 1px #ddd;
}
ul.top-nav > li.primary-action > a.btn {
    padding: 6px 15px;
    background-color: #0e5077;
    color: #fff;
    border-radius: 3px;
}
ul.top-nav > li > a.btn-logged-in-admin {
    margin-left: 5px;
    font-size: 1.5em;
}
ul.top-nav .tooltip-inner {
    margin-left: -200px;
    min-width: 250px;
    width: 250px;
}

@media (max-width: 991px) {
    ul.top-nav {
        font-size: 0.9em;
    }
    ul.top-nav > li.primary-action > a.btn {
        padding: 4px 12px;
        font-size: 1em;
    }
    ul.top-nav > li > a.btn-logged-in-admin {
        margin-top: -2px;
    }
}

@media (max-width: 767px) {
    ul.top-nav {
        margin: 0;
        font-size: 0.8em;
    }
    ul.top-nav > li > a {
        padding: 6px;
    }
    ul.top-nav > li.primary-action > a.btn {
        padding: 3px 12px;
        font-size: 1em;
    }
}

/**
 * -------------------------
 * @section Twitter Feed
 * -------------------------
 */

div.home-twitter {
    margin-top: 20px;
    margin-bottom: 40px;
}
div.tweet > i {
    color: #2BABCF;
    float: left;
    margin-right: 15px;
}
div.tweet span {
    font-size: 12px;
    color: #ccc;
}

/**
 * -------------------------
 * @section Domain Checker
 * -------------------------
 */

div.domainresults div:not(.btn-group) {
    margin: 0;
    padding: 10px 25px;
    background-color: #ddd;
    color: #666;
    font-size: 1.0em;
    border-radius: 6px 6px 0 0;
}

div.domainresults div:not(.btn-group) span {
    padding-left: 20px;
    font-size: 14px;
    color: #888;
}

div.domainresults table tr td {
    padding: 5px 30px;
    line-height: 40px;
}

.domain-checker-container {
    margin: 20px 0;
    padding: 0;
    background-color: #ffce44;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb201), to(#ffd960));
    background: -webkit-linear-gradient(top, #ffd960, #ffb201);
    background: -moz-linear-gradient(top, #ffd960, #ffb201);
    background: -ms-linear-gradient(top, #ffd960, #ffb201);
    background: -o-linear-gradient(top, #ffd960, #ffb201);
}

.domain-checker-bg {
    margin: 0;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-position: 110% -5px;
    background-image:url('../img/globe.png');
}

@media (max-width: 992px) {
    .domain-checker-bg {
        padding: 40px 0;
    }
}

.domain-checker-container .input-group-box {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.domain-bulk-options-box {
    position: absolute;
    top: 18px;
    right: 134px;
    z-index:100;
}

@media (max-width: 767px) {
    .domain-checker-container .input-group-box .input-group-btn {
        display: block;
        width: 100%;
    }
    .domain-checker-container .input-group-box .input-group-btn .btn {
        width: 100%;
        border-radius: 6px;
    }
    .domain-checker-container .input-group-box .form-control {
        border-radius: 6px !important;
        margin-bottom: 5px;
        float: none;
    }
}

.domain-check-availability {
    width: 100px;
}

.domain-step-options {
    min-height: 300px;
}

.domain-checker-result-headline {
    margin: 20px;
    font-size: 1.6em;
    text-align: center;
}
.domain-checker-available {
    color: #5cb85c;
}
.domain-checker-unavailable,
.domain-checker-invalid {
    color: #d9534f;
}

div.domainresults div.domain-checkout-area {
    display: none;
    float: right;
    padding: 8px 40px 0;
}

.domain-disclaimer-area {
    margin: 0 0 25px 0;
    font-size: 12px;
}

.domain-bulk-domain-well {
    width: 60%;
}

.domain-tld-pricing-table-responsive {
    border: 0;
    margin-bottom: 0;
}

a.domain-tld-pricing-category {
    display: block;
    text-align: center;
}

.featured-tlds-container {
    margin: 35px 0 15px;
}

.featured-tld {
    margin: 0 0 20px 0;
    border-radius: 4px;
    box-shadow: 0 6px 20px rgba(0,0,0,.1);
}
.featured-tld .img-container {
    padding: 20px 0;
    height: 115px;
    line-height: 75px;
    overflow: hidden;
    text-align: center;
}
@media (max-width: 767px) {
    .featured-tld .img-container {
        height: 80px;
        line-height: 40px;
    }
}
.featured-tld .img-container img {
    max-width: 70%;
    max-height: 100%;
}
.featured-tld .price {
    padding: 5px;
    background-color: #f9f9f9;
    color: #555;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    border-radius: 0 0 4px 4px;
}

.featured-tld .price.blog {
    background-color: #a0d5cb;
    color: #fff;
}
.featured-tld .price.club {
    background-color: #053796;
    color: #fff;
}
.featured-tld .price.com {
    background-color: #3aa4da;
    color: #fff;
}
.featured-tld .price.couk {
    background-color: #1d3774;
    color: #fff;
}
.featured-tld .price.host {
    background-color: #ed4d42;
    color: #fff;
}
.featured-tld .price.live {
    background-color: #ff9e19;
    color: #fff;
}
.featured-tld .price.name {
    background-color: #44b03e;
    color: #fff;
}
.featured-tld .price.net {
    background-color: #efc00e;
    color: #fff;
}
.featured-tld .price.online {
    background-color: #38ce6a;
    color: #fff;
}
.featured-tld .price.rocks {
    background-color: #fd563c;
    color: #fff;
}
.featured-tld .price.shop {
    background-color: #ff5900;
    color: #fff;
}
.featured-tld .price.social {
    background-color: #ff9a00;
    color: #fff;
}
.featured-tld .price.store {
    background-color: #0eadb3;
    color: #fff;
}
.featured-tld .price.tech {
    background-color: #0db04b;
    color: #fff;
}
.featured-tld .price.tv {
    background-color: #ea3438;
    color: #fff;
}
.featured-tld .price.website {
    background-color: #2db9ea;
    color: #fff;
}

.tld-filters {
    margin: 0 0 25px 0;
}
.tld-filters a {
    display: inline-block;
    margin-bottom: 4px;
    padding: 5px 6px;
    font-size: 90%;
    font-weight: normal;
    border-radius: 2px;
}

.domain-pricing .tld-row {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #f5f5f5;
}
.domain-pricing .tld-row.highlighted {
    background: #f3f9fd;
}

.domain-pricing .tld-pricing-header .col-xs-2,
.domain-pricing .tld-pricing-header .col-sm-2 {
    height: 56px;
}
.domain-pricing .tld-pricing-header .col-xs-2,
.domain-pricing .tld-pricing-header .col-sm-2,
.domain-pricing .tld-pricing-header .col-xs-4,
.domain-pricing .tld-pricing-header .col-sm-4 {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 6px solid #97b5d2;
    background-color: #efefef;
    border-radius: 4px 4px 0 0;
}
.domain-pricing .no-bg {
    background-color: transparent !important;
}
.domain-pricing .tld-pricing-header div:nth-child(odd) {
    border-color: #336699;
    background-color: #f5f5f5;
}
.domain-pricing .two-row-center {
    line-height: 28px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-right: 2px solid #c7d7e6;
}

.domain-pricing .tld-row.no-tlds {
    display: none;
}

.tld-sale-group {
    padding: 1px 3px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}
.tld-sale-group-hot {
    background-color: #f9615a;
}
.tld-sale-group-sale {
    background-color: #f7d458;
}
.tld-sale-group-new {
    background-color: #2ad588;
}

/**
 * -------------------------
 * @section Announcements Page
 * -------------------------
 */

div.announcement-single {
    margin: 0 0 20px 0;
}
div.announcement-single blockquote {
    margin-top: 30px;
}
div.announcement-single .label {
    margin-right: 10px;
}

.announcement-single {
    margin: 0 0 25px 0;
}
.announcement-single .title {
    font-size: 1.5em;
    font-weight: bold;
}
.announcement-single p {
    margin: 2px 0 10px;
}
.announcement-single .article-items {
    font-size: 0.85em;
    color: #888;
}

/**
 * -------------------------
 * @section Product Details Page
 * -------------------------
 */

div.product-details {
    margin: 0 0 20px 0;
}
div.product-details div.product-icon {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    border-radius: 10px;
    padding: 30px;
    font-size: 60px;
    line-height: 1em;
}

.product-status {
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 10px;
}
.product-status-pending {
    background-color: #F89406;
}
.product-status-active {
    background-color: #46A546;
}
.product-status-suspended {
    background-color: #0768B8;
}
.product-status-terminated,
.product-status-cancelled {
    background-color: #666;
}
.product-status-fraud {
    background-color: #000;
}
.product-status-text {
    padding: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

div.product-details-tab-container {
    margin: 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
}

.module-client-area {
    padding: 15px 15px 0 15px;
}

.ssl-inactive {
    cursor: pointer;
}

/**
 * -------------------------
 * @section List Tables
 * -------------------------
 */

.dataTables_wrapper .dataTables_info {
    margin: 0;
    padding: 9px 10px;
    background-color: #4f5360;
    border: 0;
    border-bottom: 1px solid #fff;
    font-size: 0.9em;
    color: #fff;
    border-radius: 0;
    text-align: left !important;
}
div.dataTables_wrapper div.dataTables_info {
    padding: 21px 30px !important;
    font-weight: 300;
}

.dataTables_wrapper table.table-list {
    margin-top: 0 !important;
    margin-bottom: 6px !important;
    width: 100% !important;
}

.dataTables_wrapper table.table-list thead th {
    border-bottom: 4px solid #a2d27a;
    font-weight: normal;
}
.dataTables_wrapper table.table-list thead th:nth-child(even) {
    border-bottom: 4px solid #7bc144;
}

.dataTables_wrapper table.table-list thead th.sorting_asc,
.dataTables_wrapper table.table-list thead th.sorting_desc {
    background-color: #f6f6f6;
}



.dataTables_wrapper .dataTables_filter {
    float: right;
}
.dataTables_wrapper .dataTables_filter label {
    margin: 0;
    padding: 12px;
}
.dataTables_wrapper .dataTables_filter label .form-control {
    background: url('../../../assets/img/search.png') #fff no-repeat 8px 5px;
    padding: 7px 10px 7px 45px!important;
    border: 1px solid #fff;
    height: auto;
    width: 200px;
    font-size: 13px;
    border-radius: 2px;
}

@media (max-width: 600px) {
    .dataTables_wrapper .dataTables_info {
        padding: 9px 10px 40px;
    }
    .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-top: 30px;
        width: 100%;
    }
    .dataTables_wrapper .dataTables_filter label {
        display: block;
        margin: 5px;
        padding: 0;
    }
    .dataTables_wrapper .dataTables_filter label .form-control {
        margin: 0;
        width: 100%;
    }
}

.dataTables_wrapper .dataTables_length {
    background-color: #f6f6f6;
    font-size: 0.8em;
    color: #888;
}
.dataTables_wrapper .dataTables_length label {
    padding: 10px 10px 0 30px;
}
.dataTables_wrapper .dataTables_length label .form-control {
    display: inline-block;
    padding: 2px;
    height: 25px;
    width: auto;
    border: 0;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding: 6px 30px 0;
}

.dataTables_wrapper .dataTables_paginate .pagination > li > a,
.dataTables_wrapper .dataTables_paginate .pagination > li > span {
    padding: 4px 8px;
}

.pagination>li>a,
.pagination>li>span {
    color: #444;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #4f5360;
    border-color: #4f5360;
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before, table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
    top: inherit !important;
    box-shadow: none !important;
    line-height: 16px !important;
}

.table-container {
    padding: 0 0 25px 0;
}

table.table-list thead th {
    padding: 8px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-align: center;
}

.table-list > tbody > tr:hover {
    cursor: pointer;
    cursor: hand;
}

table.table-list tbody td {
    padding: 10px;
    vertical-align: middle;
    font-size: 0.94em;
}

.table-list > tbody > tr > td a.border-left {
    border-left: 1px solid #eee;
    padding-left: 20px;
    display: block;
}


.table-list > tbody > tr > td {
    background-color: #fff;
}
.table-list > tbody > tr:nth-child(even) > td {
    background-color: #f8fcfd;
}

table.dtr-inline .dtr-title:empty {
    display: none !important;
}

table.dtr-inline .responsive-edit-button {
    display: none;
}

table.dtr-inline.collapsed .responsive-edit-button {
    display: inherit;
}
/**
 * -------------------------
 * @section Status Lights
 * -------------------------
 */

.status {
    display: block;
    font-size: 0.9em;
    line-height: 22px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
}

.status-custom {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1px;
}

.status-pending {
    color: #D9534F;
}
.status-pending.transfer {
    color: #A68500;
}
.status-active,
.status-open,
.status-completed {
    color: #3fad46;
}
.status-suspended {
    color: #F0AD4E;
}
.status-customer-reply {
    color: #ff6600;
}
.status-fraud,
.status-answered {
    color: #000000;
}
.status-expired,
.status-transferred.away{
    color: #004258;
}
.status-cancelled {
    color: #9FA29A;
}
.status-terminated {
    color: #666;
}
.status-onhold {
    color: #224488;
}
.status-inprogress {
    color: #cc0000;
}
.status-closed {
    color: #888;
}

.status-paid {
    color: #498302;
}
.status-unpaid {
    color: #ED3E48;
}
.status-cancelled {
    color: #87939F;
}
.status-collections {
    color: #9A141E;
}
.status-refunded {
    color: #319FC3;
}

.status-customer-reply {
    color: #ff6600;
}

.status-delivered {
    color: #224488;
}

.status-accepted {
    color: #498302;
}
.status-lost, .status-dead {
    color: #000;
}

/**
 * -------------------------
 * @section Affiliates Page
 * -------------------------
 */

.affiliate-stat {
    margin: 0;
    padding: 15px;
    font-size: 1.6em;
    text-align: center;
}

.affiliate-stat span {
    display: block;
    font-size: 2.4em;
}

.affiliate-stat i {
    float: left;
    padding: 10px;
    font-size: 4em;
}

.affiliate-referral-link {
    margin: 40px 0;
}

.affiliate-referral-link span {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 1.4em;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .affiliate-stat {
        font-size: 1.2em;
    }
    .affiliate-stat span {
        font-size: 2.1em;
    }
    .affiliate-stat i {
        font-size: 3.6em;
    }
}

@media (max-width: 992px) {
    .affiliate-stat {
        font-size: 1.0em;
    }
    .affiliate-stat span {
        font-size: 1.6em;
    }
    .affiliate-stat i {
        font-size: 3em;
    }
}

/**
 * -------------------------
 * @section Support Tickets
 * -------------------------
 */

.ticket-number {
    display: block;
    font-size: 1.2em;
    font-style: italic;
    color: #2a9fbb;
}
.ticket-subject.unread {
    font-weight: bold;
}

.ticket-attachments-message {
    padding-top: 4px;
    font-size: 0.8em;
}

.ticket-reply {
    margin: 10px 0;
    padding: 0;
    border: 1px solid #efefef;
    background-color: #fff;
}

.ticket-reply.staff {
    border: 1px solid #CCE4FC;
}

.ticket-reply .date {
    float: right;
    padding: 8px 10px;
    font-size: 0.8em;
}

.ticket-reply .user {
    padding: 5px 0;
    background-color: #f8f8f8;
}

.ticket-reply.staff .user {
    background-color: #F2F9FF;
}

.ticket-reply .user i {
    float: left;
    font-size: 2.2em;
    padding: 2px 15px;
}

.ticket-reply .user .name {
    display: block;
    font-size: 0.9em;
}

.ticket-reply .user .type {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
}

.ticket-reply .message {
    padding: 12px 15px;
}

.ticket-reply .rating,
.ticket-reply .rating-done {
    float: right;
    padding: 5px 10px;
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 24px;
}
.ticket-reply .rating span.star,
.ticket-reply .rating-done span.star {
    font-family: "Font Awesome 5 Pro";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}
.ticket-reply .rating-done .rated {
    display: inline-block;
    font-size: 12px;
    font-family: Tahoma;
}
.ticket-reply .rating span.star:hover {
    cursor: pointer;
}
.ticket-reply .rating span.star:before,
.ticket-reply .rating-done span.star:before {
    content: "\f005";
    padding-right: 0;
    color: #999;
}
.ticket-reply .rating span.star:hover:before,
.ticket-reply .rating span.star:hover ~ span.star:before,
.ticket-reply .rating-done span.star.active:before  {
    content: "\f005";
    color: #F2DE88;
}

.ticket-reply .attachments {
    margin: 0;
    padding: 10px 20px;
    border-top: 1px dashed #efefef;
    background-color: #f8f8f8;
    font-size: 0.8em;
}

.ticket-reply .attachments ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
}

.ticket-reply .clear {
    clear: both;
}

.panel > .list-group .ticket-details-children {
    line-height: 20px;
}
.panel > .list-group .ticket-details-children .title {
    font-size: 0.9em;
    color: #999;
}

/**
 * -------------------------
 * @section Support Ticket Feedback
 * -------------------------
 */

.ticketfeedbackstaffcont {
    margin: 10px auto;
    padding: 15px;
    width: 90%;
    background-color: #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.ticketfeedbackrating {
    padding: 0 100px;
}

.ticketfeedbackrating .rate {
    float: left;
    padding: 0 10px;
    min-width: 30px;
    text-align: center;
}

/**
 * -------------------------
 * @section Client Notifications
 * -------------------------
 */

.popover-user-notifications {
    border-radius: 0;
    padding: 5px 10px;
    border-color: #ddd;
    min-width: 310px;
    font-family: 'Open Sans', sans-serif;
}
.popover-user-notifications .popover-content {
    padding: 0;
}
.popover-user-notifications ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.popover-user-notifications ul li {
    padding: 5px 0;
    min-height: 66px;
    border-bottom: 1px solid #ddd;
}
.popover-user-notifications ul li:last-child {
    border: 0;
}
.popover-user-notifications ul li a {
    display: block;
    padding: 10px 15px 10px 12px;
    text-decoration: none;
    color: #555;
    font-size: 0.95em;
}
.popover-user-notifications ul li a:hover {
    background-color: #f6f6f6;
}
.popover-user-notifications ul li i.fas,
.popover-user-notifications ul li i.far {
    float: left;
    padding-top: 6px;
    font-size: 21px;
}
.popover-user-notifications ul li i.fas.fa-check-circle,
.popover-user-notifications ul li i.far.fa-check-circle{
    color: #5cb85c;
}
.popover-user-notifications ul li i.fas.fa-warning,
.popover-user-notifications ul li i.far.fa-warning {
    color: #ecc317;
}
.popover-user-notifications ul li i.fas.fa-exclamation-circle,
.popover-user-notifications ul li i.far.fa-exclamation-circle{
    color: #ec2d45;
}
.popover-user-notifications ul li .message {
    margin-left: 40px;
}
.popover-user-notifications ul li.none {
    padding: 12px 0;
    min-height: auto;
    text-align: center;
    font-weight: bold;
}

/**
 * -------------------------
 * @section Captcha
 * -------------------------
 */

.captchaimage {
    margin: 0;
    padding: 3px 0 4px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

/**
 * -------------------------
 * @section Credit Cards
 * -------------------------
 */

div.credit-card {
    margin: 0 auto 30px;
    max-width: 400px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
}

div.credit-card div.card-type {
    float: right;
    padding: 10px 20px;
    font-size: 1.2em;
}
div.credit-card div.card-icon {
    float: left;
    padding: 7px 7px;
    font-size: 1.2em;
}

div.credit-card div.card-number {
    padding: 10px;
    background-color: #ccc;
    font-size: 1.6em;
    text-align: center;
    clear: both;
}

div.credit-card div.card-start {
    float: left;
    padding: 20px 0 50px 50px;
    font-size: 1.3em;
    text-align: right;
}

div.credit-card div.card-expiry {
    float: right;
    padding: 20px 50px 50px 0;
    height: 120px;
    font-size: 1.3em;
    text-align: right;
}

div.credit-card div.end {
    clear: both;
}

@media (max-width: 600px) {
    div.credit-card {
        max-width: 250px;
    }
    div.credit-card div.card-type {
        font-size: 1.0em;
    }
    div.credit-card div.card-icon {
        font-size: 1.0em;
    }
    div.credit-card div.card-number {
        padding: 6px 10px;
        font-size: 1.2em;
    }
    div.credit-card div.card-start {
        padding: 20px 0 30px 50px;
        font-size: 0.9em;
    }
    div.credit-card div.card-expiry {
        padding: 20px 50px 30px 0;
        height: 80px;
        font-size: 0.9em;
    }
}

.auth3d-area {
    border: 1px solid #fff;
}

.submit-3d {
    width: 80%;
    border: 1px solid #fff;
}

.invoice-summary {
    margin: 0 0 25px 0;
    padding: 15px;
    height: 500px;
    background-color: #f8f8f8;
    border: 4px dashed #efefef;
    border-radius: 10px;
}

.invoice-summary-table {
    margin: 25px 0 25px 0;
    max-height: 300px;
    overflow: auto;
}

.invoice-summary-table td {
    font-size: 0.8em;
}

.invoice-summary-table td.total-row {
    background-color: #efefef;
    font-weight: bold;
}

/* Card colors colorpicked from website logos */
div.credit-card .logo-visa {
    color: #1a1f71;
}

div.credit-card .logo-amex {
    color: #43abdf;
}

div.credit-card .logo-mastercard {
    color: #ed0b00;
}

div.credit-card .logo-discover {
    color: #000000;
}

div.three-column-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, auto) minmax(10em, 30em) auto;
    font-weight: 300;
    font-size: 13px;
}
div.three-column-grid > div {
    margin: 5px 0;
    padding-right: 5px;
}
div.three-column-grid > div > label {
    font-weight: normal;
}
#frmPayment .paymethod-info {
    margin: 5px 0;
    cursor: pointer;
}
#frmPayment .paymethod-info label {
    font-weight: normal;
    cursor: pointer;
}
/**
 * -------------------------
 * @section Sidebar Responsive Behaviour Classes
 * -------------------------
 */

div.sidebar .list-group-item-selected {
    background-color: #319FC3;
    color: #FFFFFF;
}
div.sidebar .list-group-item-selected .badge {
    background-color: #FFFFFF;
    color: #319FC3;
}

.sidebar.sidebar-secondary {
    clear: left;
}

@media (max-width: 991px) {

    .panel-actions {
        border: 0;
        box-shadow: none;
    }

    .panel-actions > .panel-heading > .panel-title {
        display: inline;
    }

    .panel-actions > .panel-heading {
        border-radius: 3px;
    }

    .panel-actions > .list-group {
        padding: 10px;
        overflow-x: scroll;
        overflow-y: none;
        white-space: nowrap;
    }

    .panel-actions > .list-group .list-group-item {
        display: inline-block;
        border: 1px solid #ddd !important;
        border-radius: 3px !important;
        white-space: nowrap;
        text-align: center;
        padding: 5px 25px;
        margin: 2px;
    }

    .panel-actions > .list-group .list-group-item > .badge {
        float: none;
        margin: -2px 0 0 10px;
    }

}

/**
 * -------------------------
 * @section Two Factor Authentication
 * -------------------------
 */

.twofa-setup .modal-body {
    min-height: 100px;
}
.twofa-setup .activation-msg {
    margin: 25px 0;
    padding: 15px;
    border: 1px dashed #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}
.twofa-setup .backup-code {
    margin: 20px auto;
    padding: 10px;
    background-color: #efefef;
    color: #444;
    text-align: center;
}

.twofa-module {
    margin: 10px 0;
    padding: 14px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.twofa-module .col-radio {
    float: left;
    width: 35px;
    margin-top: 12px;
}
.twofa-module .col-logo {
    float: left;
    width: 80px;
    line-height: 40px;
    text-align: center;
}
.twofa-module .col-description {
    margin-left: 136px;
}
.twofa-module img {
    max-width: 100%;
    max-height: 40px;
}
.twofa-module.active {
    border-color: #337ab7;
}

/**
 * -------------------------
 * @section Popups
 * -------------------------
 */

#popup-backdrop {
    background-color: #2E363F;
    padding: 15px;
    height: 100%;
}

.popup-header-padding {
    margin-top: 5px;
    margin-bottom: 5px;
}

/**
 * -------------------------
 * @section Uncategorized
 * -------------------------
 */

.btn.btn-action {
    background-color: #72CA06;
    border-color: #498302;
}

/**
 * -------------------------
 * @section Knowledgebase
 * -------------------------
 */

.kb-category {
    margin: 0 0 10px 0;
}
.kb-category a {
    display: block;
    margin: 0 0 2px 0;
    font-weight: bold;
    text-decoration: none;
}
.kb-category a small {
    color: #888;
}

.kbarticles {
    padding: 0 0 25px 0;
    font-size: 0.8em;
}
.kbarticles a {
    font-size: 1.2em;
    font-weight: 700;
}
.kbarticles a .glyphicon {
    color: #8ce;
}
.kbcategories a.admin-inline-edit,
.kbarticles a.admin-inline-edit {
    font-size: 0.92em;
}

h3.kb-alsoread {
    padding: 8px 15px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 0.9em;
}

.kb-article-title {
    margin: 0 0 22px 0;
    font-size: 1.6em;
}
.kb-article-title h2 {
    margin: 0;
}
.kb-article-title .btn-print {
    float: right;
    font-size: 1em;
}
.kb-article-content {
    margin: 0 0 30px 0;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 200;
}
.kb-rate-article {
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #eff7ff;
    font-size: 1.4em;
    line-height: 38px;
    font-weight: 200;
    color: #4d7cab;
}
.kb-rate-article .btn-lg {
    padding: 0 16px;
}

.kb-article-details {
    color: #999;
    list-style: none;
    margin: 35px 5px;
    padding: 0;
    font-size: 0.9em;

}
.kb-article-details li {
    float: left;
    padding-right: 30px;
}

.kb-search .form-control {
    box-shadow: none;
    border-radius: 3px;
}
.kb-search > .input-group-btn > .btn {
    border-radius: 0 3px 3px 0;
}

/**
 * -------------------------
 * @section Domain Checker Responsive
 * -------------------------
 */

#stepResults {
    font-size: 20px;
}
#stepResults .label {
    font-size: 20px;
}

@media (max-width: 992px) {
    #stepResults {
        font-size: 14px;
    }
    #stepResults .label {
        font-size: 14px;
    }
    div.domainresults table tr td {
        padding: 5px 5px;
    }
}

/**
 * -------------------------
 * Printing
 * -------------------------
 */

@media print {
    .sidebar,
    #main-menu,
    #top-nav,
    .header-lined {
        display: none;
    }
    a[href]:after {
        content:"" !important;
    }
}

/**
 * -------------------------
 * Badges Spacing
 * -------------------------
 */

h3.with-badge::after {
    content: '.';
    color: #fff;
}

h3.with-badge span, h3.with-badge i {
    float: left;
    padding-right: 8px;
}

h3.with-badge .badge {
    line-height: initial;
    margin-top: 3px;
}

@media (min-width: 992px) {
    h3.with-badge .badge {
        padding: 3px 7px 3px 8px;
    }
    .sidebar .list-group-item .badge {
        margin-top: -2px;
        padding: 3px 7px 3px 8px;
        line-height: initial;
        min-width: 36px;
    }
}

/**
 * -------------------------
 * Admin Masquerade Notice
 * -------------------------
 */

.admin-masquerade-notice {
    margin: 25px 0 0 auto;
    padding: 4px 10px;
    max-width: 240px;
    font-family: Tahoma;
    font-size: 0.7em;
    text-align: right;
}
.admin-masquerade-notice a {
    text-decoration: underline;
}

a.admin-inline-edit {
    margin-left: 6px;
    font-weight: 400;
    color: #888;
}
a.admin-inline-edit:hover {
    color: #444;
    text-decoration: none;
}

/**
 * -------------------------
 * Language Chooser
 * -------------------------
 */

.language-popover {
    max-width: 450px;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.98);
    background-image: url('../img/worldmap.png');
    background-repeat: no-repeat;
    font-size: 0.8em;
}
.language-popover.popover.bottom > .arrow:after {
    border-bottom-color: rgba(20, 20, 20, 0.97);
}
.language-popover .popover-content ul {
    margin: 6px 0 14px 0;
    padding: 0;
    max-width: 400px;
    list-style-type: none;
    overflow: hidden;
}
.language-popover .popover-content li {
    float: left;
    display: inline;
    padding: 0 20px 0 40px;
    width: 33.333%;
    line-height: 2em;
}
.language-popover .popover-content li a {
    color: #f2f2f2;
}

@media (max-width: 480px) {
    .language-popover {
        max-width: 250px;
        background-position: -50px 0;
    }
    .language-popover .popover-content li {
        padding: 0 20px;
        width: 50%;
    }
}

/**
 * -------------------------
 * Login or Register Popover
 * -------------------------
 */

.login-popover {
    font-size: 12px;
}
.login-popover .form-group {
    margin-bottom: 5px;
}
.login-popover hr {
    margin: 5px 0;
}

/**
 * -------------------------
 * Mass Pay
 * -------------------------
 */

tr.masspay-invoice-detail td {
    font-size: 0.8em;
}
tr.masspay-total td {
    background-color: #efefef;
    font-weight: bold;
}

/**
 * -------------------------
 * Error Page
 * -------------------------
 */

.error-container {
    text-align: center;
}
.error-container h1 {
    margin-top: 40px;
}
.error-container .buttons {
    margin: 25px 0;
}
.error-container .buttons .btn {
    margin: 5px;
}

/**
 * -------------------------
 * Collapsable Panels
 * -------------------------
 */

.panel-collapsable > .panel-heading {
    cursor: pointer;
}
.panel-collapsable > .panel-body-collapsed {
    display: none;
}

/**
 * -------------------------
 * Licensing Addon
 * -------------------------
 */

.licensing-addon-latest-download h3 {
    margin-top: 0;
}

/**
 * -------------------------
 * Domain Checker Captchas
 * -------------------------
 */

#google-recaptcha-domainchecker {
    width: 304px;
    height: 78px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#default-captcha-domainchecker {
    margin-top: 15px;
    margin-bottom: -63px;
}

#default-captcha-domainchecker #inputCaptcha {
    width: 100px;
    border-radius: 4px;
}

.domainchecker-homepage-captcha #google-recaptcha-domainchecker {
    margin-bottom: -46px;
}

@media (max-width: 991px) {
    #google-recaptcha-domainchecker {
        padding-left: 2.5%;
    }

    #default-captcha-domainchecker {
        margin-bottom: -25px;
    }
}

@media (max-width: 736px) {
    #google-recaptcha-domainchecker {
        transform: scale(0.935);
        transform-origin: 0 0;
        -webkit-transform: scale(0.935);
        -webkit-transform-origin: 0 0;
    }
}

@media (max-width: 384px) {
    #google-recaptcha-domainchecker {
        transform: scale(0.96);
        transform-origin: 0 0;
    }
}

@media (max-width: 360px) {
    #google-recaptcha-domainchecker {
        transform: scale(0.89);
        transform-origin: 0 0;
    }
}

@media (max-width: 320px) {
    #google-recaptcha-domainchecker {
        padding-left: 13.5%;
        transform: scale(0.83);
        transform-origin: 0 0;
        -webkit-transform: scale(0.785);
        -webkit-transform-origin: 0 0;
    }
}

/**
 * -------------------------
 * Email Verification
 * -------------------------
 */

.email-verification {
    margin: 0;
    padding: 10px;
    font-weight: 300;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    color: #333;
}
.email-verification .text {
    display: block;
    padding: 6px 0;
}
.email-verification .btn {
    margin: 3px 0;
    padding: 3px 10px;
    background-color: #50525f;
    border-color: #50525f;
    color: #fff;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email-verification .btn:active,
.email-verification .btn[disabled]:hover {
    background-color: #50525f;
    border-color: #50525f;
    color: #fff;
}
.email-verification .btn.close {
    margin-left: 10px;
    background-color: transparent;
    color: rgba(55, 55, 55, 0.5);
    font-size: 22px;
    opacity: 1;
}
.email-verification .btn.close:hover {
    color: rgba(55, 55, 55, 0.8);
}
.email-verification .fas,
.email-verification .far {
    color: #666;
    float: left;
    padding: 2px 10px 0 0;
    font-size: 24px;
}

@media (min-width: 768px) {
    .email-verification .text {
        padding-top: 9px;
        padding-bottom: 0;
    }
    .email-verification .btn {
        margin: 0;
        padding: 9px 25px;
    }
    .email-verification .button {
        float: right;
    }
    .email-verification .fas,
    .email-verification .far {
        font-size: 36px;
    }
}

.email-verification.success {
    background-color: #ebfde4;
    border-bottom: 1px solid #e3f7d5;
    color: #5cb85c;
}
.email-verification.success .fas,
.email-verification.success .far {
    color: #6fbb51;
}
.email-verification.failed {
    background-color: #fdf8e3;
    border-bottom: 1px solid #f7f3d0;
    color: #b3a879;
}
.email-verification.failed .fas,
.email-verification.failed .far {
    color: #b3a879;
}

/**
 * -------------------------
 * Markdown Editor
 * -------------------------
 */

.md-editor {
    border: 1px solid #ddd;
    border-radius: 3px;
}
.md-editor > .btn-toolbar {
    background-color: #fff !important;
}
.md-editor > textarea.markdown-editor,
.md-editor > .md-preview {
    padding: 15px !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    background-color: #fff !important;
}
div.md-editor.active {
    display: block;
    border: 1px solid #ddd;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.markdown-editor-status {
    padding: 2px 10px;
    font-size: 9pt;
    color: #959694;
    text-align: right;

}

.small-font {
    font-size: 0.9em;
}

/**
 * -------------------------
 * Markdown Content Formatting
 * -------------------------
 */

.markdown-content h1 {
    font-size: 1.6em;
    color: #333;
}
.markdown-content h2 {
    font-size: 1.4em;
    color: #333;
}
.markdown-content h3 {
    font-size: 1.2em;
    color: #333;
}
.markdown-content h4 {
    font-size: 1.1em;
    color: #333;
}

.markdown-content pre {
    padding: 15px;
    background-color: #444;
    color: #f8f8f8;
    border: 0;
}
.markdown-content pre code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.markdown-content blockquote {
    font-size: 1em;
}

.markdown-content table {
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.markdown-content table > thead > tr > th {
    padding: 4px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}
.markdown-content table > tbody > tr > td {
    padding: 3px 8px;
    border: 1px solid #ddd;
}

/**
 * -------------------------
 * Sidebar Panels
 * -------------------------
 */

.panel-sidebar {
    border-color: #eee;
    font-size: 15px;
}
.panel-sidebar>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 0;
}

.panel-heading i.far,
.panel-heading i.fas,
.panel-heading i.fal,
.panel-heading i.fab {
    font-size:0.85em;
}

.panel-sidebar .panel-title {
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #555;
}
.panel-sidebar .panel-minimise {
    margin-top: 4px;
    color: #ddd;
    cursor: pointer;
    transition: transform 200ms ease;
}
.panel-sidebar .panel-minimise.minimised {
    transform: rotate(180deg);
    margin-top: 7px;
}
.panel-sidebar>.panel-footer {
    color: #333;
    background-color: #f5f5f5;
    border-top: 0;
}
.panel-sidebar .list-group-item {
    line-height: 24px;
}
.panel-sidebar .list-group-item i:not(.fa-circle):not(.fa-dot-circle):not(.no-transform) {
    float: right;
    line-height: 24px;
    font-size: 16px;
    color: #ccc;
}
.panel-sidebar .list-group-item.disabled,
.panel-sidebar .list-group-item.disabled:focus,
.panel-sidebar .list-group-item.disabled:hover {
    background-color: transparent;
    opacity: 0.5;
}

.panel-sidebar a.list-group-item:hover i.fas,
.panel-sidebar a.list-group-item:hover i.far {
    color: #666 !important;
}
.panel-sidebar a.list-group-item.active,
.panel-sidebar a.list-group-item.active:focus,
.panel-sidebar a.list-group-item.active:hover {
    background-color: #465054;
    border-color: #465054;
}
.panel-sidebar a.list-group-item.active i,
.panel-sidebar a.list-group-item.active:focus i,
.panel-sidebar a.list-group-item.active:hover i {
    color: #fff;
}
.panel-sidebar.view-filter-btns .list-group-item.active,
.panel-sidebar.view-filter-btns .list-group-item.active:focus,
.panel-sidebar.view-filter-btns .list-group-item.active:hover {
    background-color: #eee;
    border-color: #eee;
    color: #555;
}

.panel-sidebar .recent-ticket {
    line-height: 20px;
}

/**
 * -------------------------
 * Store
 * -------------------------
 */

.store-order-container {
    margin: 20px 0;
    padding: 30px;
}
.store-order-container h2 {
    margin-top: 0;
}
.store-order-container .btn {
    padding: 10px 30px;
    font-size: 1.15em;
    font-weight: 300;
}

.store-order-container .store-domain-tabs {
    margin-top: 20px;
}
.store-order-container .store-domain-tabs li a {
    margin-right: 10px;
    padding: 7px 15px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
.store-order-container .store-domain-tabs li.active a {
    background-color: #fff;
    border-bottom: 1px solid transparent;
}
.store-order-container .store-domain-tab-content {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
}
.store-order-container .store-domain-tab-content a {
    text-decoration: underline;
}
.store-order-container .store-domain-tab-content a:hover {
    text-decoration: none;
}

.store-order-container .payment-term h4 {
    margin-top: 25px;
}
@media (min-width: 768px) {
    .store-order-container .payment-term {
        float: right;
    }
    .store-order-container .payment-term h4 {
        margin-top: 0;
    }
}

.store-order-container .domain-validation {
    display: block;
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 300;
    color: #888;
}
.store-order-container .domain-validation.ok {
    color: #53a22d;
}

.store-promoted-product {
    margin: 50px 0;
    padding: 30px 30px 50px 30px;
    background-color: #f6f6f6;
}
.store-promoted-product .icon {
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
}
.store-promoted-product .icon img {
    max-width: 100%;
    max-height: 100%;
}
.store-promoted-product ul.features {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
}
.store-promoted-product ul.features li {
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
.store-promoted-product ul.features li .fa:not(.fa-spinner) {
    font-size: 1.2em;
    color: #91c590;
    margin-left: 20px;
    margin-right: 10px;
}
.store-promoted-product .btn {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 1.2em;
    font-weight: 300;
}

/**
 * -------------------------
 * Promotional Content Formatting
 * -------------------------
 */

.promo-banner {
    margin: 0;
    padding: 15px 10px 20px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 1em;
    overflow: auto;
}
.promo-banner .icon {
    float: left;
    margin: 0 20px 0 0;
}
.promo-banner img {
    max-width: 300px;
    max-height: 200px;
}
.promo-banner .icon-left {
    margin-bottom: 10px;
    text-align: center;
}
@media (max-width: 767px) {
    .promo-banner form {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .promo-banner img {
        max-width: 100%;
        max-height: 100%;
    }
    .promo-banner .icon-left {
        float: left;
        margin: 0;
        width: 155px;
    }
    .promo-banner .content {
        margin-left: 185px;
    }
}

.promo-banner h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}
.promo-banner h4 {
    font-size: 18px;
    font-weight: 300;
}

.promo-banner p {
    margin: 5px 0;
}

.promo-banner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.92em;
}
.promo-banner ul li {
    margin-bottom: 4px;
}
@media (min-width: 1200px) {
    .promo-banner ul li {
        float: left;
        width: 50%;
    }
}

.promo-banner .fa:not(.fa-spinner) {
    font-size: 1.2em;
    color: #91c590;
    margin-left: 20px;
    margin-right: 10px;
}

.promo-banner a {
    color: #ff6600;
    text-decoration: underline;
}
.promo-banner .btn {
    margin: 6px 0 0 0;
    padding: 8px 30px;
    background-color: #ff6600;
    border: 0;
    color: #fff;
}

@media (max-width: 650px) {
    .promo-banner .icon {
        width: 100%;
        margin-bottom: 15px;
    }
}

.promo-banner-rounded {
    border-radius: 4px;
}

.promo-banner-slim {
    padding: 10px;
}
.promo-banner-slim .icon-left {
    width: 85px;
}
.promo-banner-slim .content {
    margin-left: 110px;
}
.promo-banner-slim h3 {
    font-size: 18px;
}
.promo-banner-slim h4 {
    font-size: 14px;
}
.promo-banner-slim .btn {
    margin: 0 20px 0 0;
    padding: 6px 20px;
}

.promo-banner.ssl {
    border-top: 3px solid #4da24c;
}
.promo-banner.ssl .btn {
    background-color: #4da24c;
}

.promo-banner.weebly {
    border-top: 3px solid #2990ea;
}
.promo-banner.weebly .btn {
    background-color: #2990ea;
}

.promo-banner.spamexperts {
    border-top: 3px solid #589ed7;
}
.promo-banner.spamexperts .btn {
    background-color: #589ed7;
}

.promo-banner-slim.weebly .icon-left {
    width: 160px;
}
.promo-banner-slim.weebly .content {
    margin-left: 185px;
}

.promo-banner.sitelock {
    border-top: 3px solid #f2952d;
}
.promo-banner.sitelock .btn {
    background-color: #f2952d;
}

.promo-banner.codeguard {
    border-top: 3px solid #a9cc5f;
}
.promo-banner.codeguard a {
    color: #a9cc5f;
}
.promo-banner.codeguard .btn {
    background-color: #a9cc5f;
}

.mc-panel-promo {
    font-size: 0.95em;
}
.mc-panel-promo img {
    display: block;
    margin: 0 auto 6px;
    max-width: 90%;
    max-height: 87px;
}

/**
 * -------------------------
 * MarketConnect Service SSO
 * -------------------------
 */

.panel-mc-sso {
    padding: 0 10px 10px 10px;
}
.panel-mc-sso img {
    max-width: 100%;
    max-height: 120px;
}
.panel-mc-sso .row {
    margin-left: -5px;
    margin-right: -5px;
}
.panel-mc-sso .col-sm-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.panel-mc-sso .form-control,
.panel-mc-sso .btn,
.panel-mc-sso small {
    margin-top: 5px;
}
.panel-mc-sso small {
    display: block;
}

/**
 * -------------------------
 * Social buttons
 * -------------------------
 */

.social-signin-btns {
    text-align: center;
}
.social-signin-btns .btn {
    margin-bottom: 5px;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social i.fas,
.btn-social i.far {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: 2px;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-facebook {
    color: #fff;
    background-color: #4267b2;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    background-image: none
}
.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
    background-color: #4267b2;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google {
    color: #000;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google img {
    margin-bottom: 2px;
}
.btn-social.btn-google {
    padding-left: 41px;
}
.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open .dropdown-toggle.btn-google {
    color: #000;
    border-color: rgba(0, 0, 0, 0.5)
}
.btn-google:active, .btn-google.active, .open .dropdown-toggle.btn-google {
    background-image: none
}
.btn-google.disabled, .btn-google[disabled], fieldset[disabled] .btn-google, .btn-google.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active {
    background-color: #eee;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-twitter {
    color: #fff;
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #1c92c7;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    background-image: none
}
.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2)
}

.providerPreLinking {
    min-height: 52px;
}
.providerLinkingFeedback {
    display: none;
}

/**
 * -------------------------
 * Registration page
 * -------------------------
 */

#registration {
    margin: 0;
    padding: 0 0 40px 0;
}

#registration .field-container {
    margin: 0 0 30px 0;
}

#registration label {
    font-weight: 300;
    color: #666;
    font-size: 13px;
}

#registration .info-text-sm {
    font-size: 0.85em;
    text-align: center;
}

.marketing-email-optin {
    margin: 0 0 20px 0;
    padding: 10px 20px 20px;
    background-color: #f8f8f8;
    border-radius: 3px;
}

/*
 * Section Dividers
 */

#registration .sub-heading {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
#registration .sub-heading span {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    top: -11px;
    font-size: 16px;
    color: #058;
    background-color: #fff;
}

/**
 * Form fields
 */

#registration .prepend-icon {
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    font-weight: normal;
}
#registration .field,
#registration .form-control {
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    background: #fff;
    height: 36px;
    width: 100%;
    border-radius: 3px;
    font-size: 13px;
}
#registration .input-group-lg > .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px 0 0 6px;
}
#registration .form-control-qty {
    width: 70px;
    text-align: center;
}
#registration .form-control-static-inline {
    display: inline-block;
}
#registration .form-control:focus {
    border-color: #ddd;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#registration textarea.field {
    height: auto;
}
#registration .prepend-icon .field {
    -webkit-appearance: none;
    padding-left: 36px;
}
#registration .prepend-icon .field-icon i {
    position: relative;
    font-size: 14px;
}
#registration .prepend-icon .field-icon {
    top: 0;
    z-index: 4;
    width: 42px;
    height: 36px;
    color: inherit;
    line-height: 36px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
}
#registration .field-icon i {
    color: #bbb;
}

#registration .field[disabled],
#registration .field[readonly],
#registration .form-control[disabled],
#registration .form-control[readonly] {
    background-color: #f8f8f8;
    opacity: 1;
}

#registration .field-help-text {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #888;
    font-size: 12px;
}

/**
 * -------------------------
 * Password Strength Meter
 * -------------------------
 */

.password-strength-meter .progress {
    margin-bottom: 5px;
}
.password-strength-meter p {
    margin-bottom: 15px;
}

/**
 * -------------------------
 * Service Upgrade
 * -------------------------
 */

.upgrade .product-to-be-upgraded {
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f8f8;
}
.upgrade .product-to-be-upgraded h4,
.upgrade .product-to-be-upgraded h5 {
    margin: 0;
}
.upgrade .products {
    margin-left: -5px;
    margin-right: -5px;
}
.upgrade .products .column {
    padding-left: 5px;
    padding-right: 5px;
}
.upgrade .products .product {
    margin: 20px 0;
    padding: 0;
    background-color: #fff;
}
.upgrade .products .product .current,
.upgrade .products .product .recommended {
    padding: 5px;
    background-color: #ffbc00;
    color: #f5f5f5;
    font-weight: bold;
    text-align: center;
}
.upgrade .products .product .recommended {
    background-color: #25ac2f;
}
.upgrade .products .product ul {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.upgrade .products .product .footer {
    border: 1px solid #eee;
    border-top: 0;
}
.upgrade .products .product .header {
    margin: 0;
    padding: 20px;
    background-color: #2b5580;
    color: #fff;
    min-height: 150px;
}
.upgrade .products .product .header p {
    font-size: 1.1em;
    font-weight: 300;
}
.upgrade .products .product ul {
    margin: 0;
    padding: 20px 25px;
    list-style: none;
}
.upgrade .products .product ul li {
    line-height: 25px;
    font-size: 0.9em;
    text-align: right;
    color: #aaa;
    border-bottom: 1px solid #eee;
}
.upgrade .products .product ul li:last-child {
    border: 0;
}
.upgrade .products .product ul li span {
    float: left;
    color: #444;
}
.upgrade .products .fas,
.upgrade .products .far {
    font-size: 1.3em;
}
.upgrade .products .fa-check {
    color: #23ad2e;
}
.upgrade .products .product .footer {
    margin: 0;
    padding: 20px;
}
.upgrade .products .product .footer select {
    margin-bottom: 10px;
}
.upgrade .products .product .btn {
    background-color: #2b5580;
    color: #fff;
}

/**
 * Helper Alerts
 */
.alert .fas.pull-left {
    margin: -3px 0 0 -3px;
}
.alert .alert-text {
    margin-left: 56px;
}
.panel-sidebar .alert {
    padding: 10px 15px;
    margin-bottom: 5px;
}

/**
 * iCheck controls
 */

.checkbox-inline.icheck-label, .radio-inline.icheck-label {
    padding-left: 0;
    margin-left: 30px;
    margin-right: 20px;
}

.icheck-label .iradio_square-blue {
    margin-right: 5px;
    margin-left: -30px;
    margin-top: -2px;
}

/**
 * JsonForm
 */

form[data-role="json-form"] .has-error input.form-control,
form[data-role="json-form"] .has-error textarea.form-control,
form[data-role="json-form"] .has-error select.form-control {
    background-color: #fff0f0;
    transition: 0.2s;
}

form[data-role="json-form"] .has-error .tooltip-inner {
    background-color: #9d2a0b;
}

form[data-role="json-form"] .has-error .tooltip.top .tooltip-arrow {
    border-top-color: #9d2a0b;
}

/**
 * Credit Card Input
 */

.cc-number-field {
    background-image: url(../../../assets/img/payment/unknown.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.cc-number-field.visa {
    background-image: url(../../../assets/img/payment/visa.png);
}
.cc-number-field.mastercard {
    background-image: url(../../../assets/img/payment/mastercard.png);
}
.cc-number-field.amex {
    background-image: url(../../../assets/img/payment/amex.png);
}
.cc-number-field.dinersclub {
    background-image: url(../../../assets/img/payment/dinersclub.png);
}
.cc-number-field.discover {
    background-image: url(../../../assets/img/payment/discover.png);
}
.cc-number-field.unionpay {
    background-image: url(../../../assets/img/payment/unionpay.png);
}
.cc-number-field.jcb {
    background-image: url(../../../assets/img/payment/jcb.png);
}
.cc-number-field.maestro {
    background-image: url(../../../assets/img/payment/maestro.png);
}
.cc-number-field.forbrugsforeningen {
    background-image: url(../../../assets/img/payment/forbrugsforeningen.png);
}
.cc-number-field.dankort {
    background-image: url(../../../assets/img/payment/dankort.png);
}
